body {
    margin: 0%;
    padding: 0%;
    /* background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    overflow: hidden;
    background-repeat: no-repeat; */
}

.logo {
    width: 340px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -250px;
    text-align: center;
}

.main {
    width: 1170px;
    margin: 0 auto;

}

img {
    max-width: 600px;
}

.main ul {
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;

}

.main ul li {
    float: none;
    display: inline-block;
}

.main ul li:nth-child(1){
    float:left;
}
.main ul li:nth-child(2){
    float:left;
}
.main ul li:nth-child(3){
    float:left;
}


.main ul li a {
    color: grey;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: lucida console;
    padding: 5px 20px;
}

.introFront {
    font-size: 2.5em;
    line-height: 1.5em;
    color: #241b57;
}