header {
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: grey;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    text-decoration: none;
}

nav a {
    color: grey;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.btnColor {
    background-color: #ec4357;
    max-width: 180px;
    font-weight: 500;
    display: block;
    border-radius: 3px;
    padding: 1em;
    margin-top: 2em;
    width: 100%;
    color: white;
    text-align: center;
}

.introFront {
    font-size: 2.5em;
    line-height: 1.5em;
    color: #241b57;
}

/* Splash Page */

#frontPage {
    position: absolute;
    overflow: hidden;
    min-height: 600px;
    padding-top: 9em;
}

img {
    max-width: 600px;
}


@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display:none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minxmax(600px, 3fr) 3fr;
    }

    .logo {
        grid-column: 1 / 1;
        color: grey;
    }

    nav {
        all: unset;
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
        color: grey;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}